@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;

  }
}

.scrollbar-thumb-gradient::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #7F00FF, #E100FF);
  border-radius: 10px;
  z-index: 1;
}

@layer components {
  .formInput {
    @apply
      outline-none
      bg-gray-100
      rounded-lg
      border
      border-b
      px-6
      py-6
      placeholder-gray-500
      transition-all
      focus:border-purple-800
      hover:border-purple-800

  }
}


.animate-spin {
  animation-duration: 5s; /* Change this value to make the spin slower or faster */
}


